<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crop Directory</title>
</head>
<body>
    <h1>Crop Directory</h1>
    <p>Welcome! Browse the list of crops below to learn more about each one. Click on a crop name to access detailed information, including guidance on growing the crop, common issues, and preventive measures.</p>

    <table>
        <tr><td><a href="cropDirectory/wheat.html">Wheat</a></td></tr>
        <tr><td><a href="cropDirectory/rice.html">Rice</a></td></tr>
        <tr><td><a href="cropDirectory/tomato.html">Tomato</a></td></tr>
        <tr><td><a href="cropDirectory/maize.html">Maize</a></td></tr>
        <tr><td><a href="cropDirectory/potato.html">Potato</a></td></tr>
        <tr><td><a href="cropDirectory/onion.html">Onion</a></td></tr>
        <tr><td><a href="cropDirectory/soybean.html">Soybean</a></td></tr>
        <tr><td><a href="cropDirectory/barley.html">Barley</a></td></tr>
        <tr><td><a href="cropDirectory/sugarcane.html">Sugarcane</a></td></tr>
        <tr><td><a href="cropDirectory/cotton.html">Cotton</a></td></tr>
    </table>
    <br><br><br><br><a href="home.php">Go To Home</a></br></br></br>
</body>
</html>
